In [1]:
import pandas as pd

fbs_df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
fbs_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [2]:
fbs_df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [3]:
fbs_df.shape

(60943, 12)

In [4]:
fbs_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

#### What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [5]:
fbs_df['Y2017'].agg(["std", "mean"])

std     1671.862359
mean     140.917765
Name: Y2017, dtype: float64

#### What is the total number of unique countries in the dataset?

In [6]:
fbs_df['Area Code'].nunique()

49

#### Which of these Areas had the highest sum in 2017?

In [7]:
fbs_df.groupby('Area')["Y2017"].sum().sort_values(ascending = False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

#### What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [8]:
number_of_missing_values = fbs_df["Y2014"].isnull().sum()
print("The number of missing data in 2014:", number_of_missing_values)

percent_missing_values = ((fbs_df["Y2014"].isnull().sum())/(len(fbs_df["Y2014"])))*100
print("The percentage of missing data in 2014:", percent_missing_values)

The number of missing data in 2014: 1589
The percentage of missing data in 2014: 2.6073544131401474

#### What is the total Protein supply quantity in Madagascar in 2015?

In [9]:
protein_supply_madagascar = fbs_df[(fbs_df["Area"] == "Madagascar") & (fbs_df["Element"] == "Protein supply quantity (g/capita/day)")]
protein_supply_madagascar["Y2015"].sum()

173.04999999999998

#### What is the total Protein supply quantity in Madagascar in 2015?

In [10]:
fbs_df[fbs_df["Area"] == "Madagascar"].groupby("Element")["Y2015"].sum()

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

#### Which year had the least correlation with ‘Element Code’?

In [11]:
(fbs_df.groupby("Element")[["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].corr()).min()

Y2014   -0.086111
Y2015    0.202471
Y2016    0.202471
Y2017    0.203159
Y2018   -0.086111
dtype: float64

#### What year has the highest sum of Stock Variation?

In [12]:
fbs_df[fbs_df["Element"] == "Stock Variation"].groupby("Element")[["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"]].sum()

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

#### What is the total sum of Wine produced in 2015 and 2018 respectively?

In [13]:
fbs_df[fbs_df["Item"]=="Wine"].groupby("Item")[["Y2015", "Y2018"]].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

#### Which of these Areas had the 7th lowest sum in 2017?

In [14]:
sum_in_2017 = fbs_df.groupby("Area")["Y2017"].sum()
sorted_sum_2017 = sum_in_2017.sort_values()
n = 7
nth_lowest_sum_2017 = sorted_sum_2017.iloc[n-1]
group_with_7th_lpwest_sum = sum_in_2017[sum_in_2017 == nth_lowest_sum_2017]
print(group_with_7th_lpwest_sum)

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

#### What is the total number of the sum of Processing in 2017?

In [15]:
fbs_df[fbs_df["Element"]=="Processing"].groupby("Element")["Y2017"].sum()

Element
Processing    292836.0
Name: Y2017, dtype: float64